
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 60000000 seconds"
	ExpiresByType image/x-icon "access plus 60000000 seconds"
	ExpiresByType image/gif "access plus 60000000 seconds"
	ExpiresByType image/png "access plus 60000000 seconds"
	ExpiresByType image/jpg "access plus 60000000 seconds"
	ExpiresByType image/jpeg "access plus 60000000 seconds"
	ExpiresByType video/mp4 "access plus 60000000 seconds"
	ExpiresByType text/x-component "access plus 60000000 seconds"
	ExpiresByType font/truetype "access plus 60000000 seconds"
	ExpiresByType font/opentype "access plus 60000000 seconds"
	ExpiresByType application/x-font-woff "access plus 60000000 seconds"
	ExpiresByType application/vnd.ms-fontobject "access plus 60000000 seconds"
	ExpiresByType text/css "access plus 60000000 seconds"
	ExpiresByType application/javascript "access plus 60000000 seconds"
	ExpiresByType text/javascript "access plus 60000000 seconds"
	ExpiresByType text/js "access plus 60000000 seconds"
	ExpiresByType application/x-javascript "access plus 60000000 seconds"

</IfModule>
