@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  padding: 60px 120px 120px;
  box-sizing: border-box;
}

header {
  max-width: 500px;
  line-height: .2;
  font-size: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  padding: 2.5px 5px ;
}

code {
  font-weight: 300;
  line-height: 1.1;
  font-size: 20px;
}


a {
  font-weight: 300;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color:rgb(0, 0, 0);
}

a:hover{
  text-decoration-line: underline;
  text-decoration-thickness: .5px;
  text-underline-offset: 5px;
}

pre a {
  font-style: oblique;
  font-size: 1.6rem;
}

b {
  cursor: none;
  font-weight: 300;
  font-size: 1.8rem;
}

i {
  font-size: 1.8rem;
  line-height: .7;
}

q::before {
  content: '';
}

q::after {
  content: '';
}

pre {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  transition: all .3s ease-out;
  cursor: pointer;
  margin-bottom: 40px;
  margin: 3%;
  float: left;
  line-height: 1.1;
  font-size: 20px;
}

pre:hover {
  animation: none;
  overflow: visible;
}

pre sup, pre sup a, pre sub, pre sub a {
  font-size: 15px;
}

pre sup sup {
  font-size: 10px;
}

pre.closed {
  line-height: .8;
  letter-spacing: -3px;
  width: 50px;
  height: 50px;
  white-space: inherit;
  overflow: hidden;
  font-size: 13px;
}

pre.closed:hover {
  animation: pulse .4s infinite alternate;
  transform: scale(1.3)
}

pre .reverse {
  transform: rotateY(45deg) rotateX(180deg);
  display: inline-block;
}

pre.solo{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hidden {
  display: none;
}

.bobyright, span {
  margin-left: -1.8rem;
  padding-right: .5rem;
  padding-top: .1rem;
}
#words-list span {
  margin: 0;
  padding: .5rem;
}

.rotate {
  display: inline-block;
  transform: rotate(-90deg) translateX(-5px) translateY(5px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.9);
  }
}

@media screen and (max-width: 780px) {
  body {
    padding: 2rem 4rem 2rem 2rem;
  }

  p {
    margin: 0 0 2rem;
  }
}


@keyframes aminate {
  0% {
    margin: 0
  }
  50% {
    margin: 0 1rem 1rem;
    font-size: 10px;
  }
  100% {
    margin: 0
  }
}
