<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>-->
<script src="/js/anagrammatic.js"> </script>
<script src="/js/highlight.js" data-links="<%= JSON.stringify(links) %>"></script>
</body>

</html>
