<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&because;</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/texto.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
    <link rel="manifest" href="favicon/site.webmanifest" />
</head>


<body>

    <pre>
        D'
        i.e. ->
        Emprunt <sup>( prêter )</sup> de l’anglais i.e.
        lui-même du latin id est <sup>( « c’est » )</sup>
        c'est à dire : aïe i
             --> on dit qu'il n'est pas un bon navigateur.
        Magellan en prendrait la tangeante.
        Fantasmer <sup>( simple convention ¸,)</sup>
          de de de géométriques attractions
        Gommer le tout.
        Baguette magique !
        D'analyses sauvages, trouver !
                               une cause perdue :
                            d'Enigma, comprendre la suite.
                                  elle est incluse
        dans le cadre de votre offre de services.
        La messe est dite !
        On n'entend plus siffler le train.
        Timide véhicule ...
        Degré rotule, canal, grue, ovni, microphone, formule, parti(e)-pris...
        S'en sortir, juste ? ou juste s'en sortir ?
        La crasse du typan va sans dire.
        Jivaro l'orchestre !
        Bagne d'élégant
        Acte manqué j
        Las, helas <sup>( cécidie )</sup> c'est la vie <sup>( le q )</sup>
        pinceau tactique, « j'ai lu tout les livres »,
        cité-jardin <sup>( oui un zébre ! )</sup>
        je encourage
        en parler à z <sup>( du grand ördre )</sup>
        J'emprunte mes mots.
        les dispose comme ci, comme ça
                                     dot !
      </pre>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
        <script src="/js/anagrammatic.js"> </script>
        <script src="/js/axe.js"></script>

        <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
        <script>
            setTimeout(function () {
                $('p, pre').removeClass('closed')
            }, 400)
        </script>


</body>

</html>
