<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&because;</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/texto.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
    <link rel="manifest" href="favicon/site.webmanifest" />
</head>


<body>


    <pre>
        La
      petite
      scène <sup>( à Maïa, Monà, Adèle, Ema )</sup>
     de genre l'ukiyo-e,
      au champ <sup>( abeille <sup>( aï !!)</sup> idéale )</sup>
        autrement vaste,
    flottant sous la flaque, <sup>( étain f )</sup>
      dans l'image
             qui c'est noyée.
            À-chevet
                 Bazooka.
                   <sub>( aime <sup>( ami à )</sup>
                        'zoo´ collectif )</sub>
  </pre>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
    <script src="/js/anagrammatic.js"> </script>
    <script src="/js/axe.js"></script>

    <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
    <script>
        setTimeout(function () {
            $('p, pre').removeClass('closed')
        }, 400)
    </script>


</body>

</html>