<%- include('./partials/header'); %>

<nav>
  <ul>
    <% for (var link of links) { %>
    <li>
      <a href="<%= link %>">
        <%= link.replace('/', '' ) %>
      </a>
    </li>
    <% } %>
  </ul>
</nav>
<%- include('./partials/footer'); %>
