<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <nav>
        <ul>
            <% for (var link of links) { %>
                <li>
                    <a href="<%= link %>">
                        <%= link.replace('/', '' ) %>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>
</body>

</html>
