<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&because;</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/texto.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
    <link rel="manifest" href="favicon/site.webmanifest" />
</head>


<body>
    <div id="scene">
        <pre class="®">
            Oui oui, moi même.
            Non mais !
            Mais non ...
            À la bonne heure ! Oui, mais laquelle ?
            Placés l'un après, l'un avant !
            ... Mes mots ?
            <a href="/gospel">Gospel</a> : cette musique me reste dans la tête.
            3 lettres perdues ; ma ponctuation est déréglée.
            L`accent s´inverse, h, d, l¸ sont elles bien là ?
            Là, là oui, là ici.
            Quel sens alors ?
            Nom ou verbe, ailleurs, qu'on place
            l'un après, ou l'un avant l'autre.
            Ils ? Elles ?
            Épeler, écrire, orthographier, ensorceler,
            se relayer, expliquer bien, apprendre à épeler,
            reposer un peu, charme, sortilège, période,
            incantation, moment, tour, vertige, petite sieste !
            Nom ou verbe ? Ailleurs.
            Méta se réfléchie elle même.
            Ensemble, réfléchir l'ensemble d'un Léon bogue.
            Modulo reste.
            Rejouer l'équation ?
            Non mais ! Non mon texte n'est pas un vrai anagramme.
            Personne ne l'a cru.
            Chaque signe y possède son double ou presque.
            Schizophrénie d'un langage qui se libère
            sans surface, ni profondeur !
            Duplice en double révélé : état tracé,
            écart d'âme qui mieux me meut,
            lancinant, sature mes pensées fausses.
            Ruptures. Triture. Rature.
            Elle est vraie, réfléchie, sérieuse !
            Médire bêtise.
            Hibou comme uhu,
            dépité, bouddha se vexe !
            Nul degré java.
            Judah chemine,
            prémédite une colle ;
            glue 3 !
                !'azulerjo
                     évinçât s
          </pre>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
        <script src="/js/anagrammatic.js"> </script>
<script src="/js/axe.js"></script>

        <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
        <script>
            setTimeout(function () {
                $('p, pre').removeClass('closed')
            }, 400)
        </script>


</body>

</html>
