<%- include('../partials/header', {title}); %>
<pre>
  épinard
  <a href="/groseille">groseille</a>
  <a href="/chenille">chenille</a>
  <a href="/maternité">maternité</a>
  <a href=/autruche">autruche</a>
  orage épisode
  chou-fleur
</pre>
<%- include('../partials/footer'); %>
