<%- include('../partials/header'); %>

<pre class="®">
    accro<a href="/cher">cher</a> r
    rˊ clo<a href="/cher">cher</a>
    accroc c s
    poulpe instruit
    trinité c
  </pre>
<%- include('../partials/footer'); %>
