<%- include('../partials/header'); %>

<pre class="®">
  Aneth
      c´
    ni thé
    ni <a href="/fenouil">fenouil</a>
  tu es
    <a href="/laitue">laitue</a> si
  <a href="/trou">trou</a> à
    ouille t
  <a href="/ruche">ruche</a> à
    <a href="/huile">huile</a>
      <a href="/fioul">fioul</a>

</pre>
<%- include('../partials/footer'); %>
