<%- include('../partials/header'); %>

<pre class="®">
        connaissance
        récipro´<a href="/que">que</a>
        pers<a href="/on">On</a>naL`ise a
        acoquine`r
        ni cro<a href="/que">que</a>, croqu'é in,
        conçue cri q `
        carcan, <a href="/que">que</a> ci o,
        in <a href="/accroc">accroc</a> <a href="/que">que</a> a
        r qu'e in
        cacao ç
        coeur in q
        q ´couac <a href="/racine">racine</a>
        craqué no aï
        <a href="/que">que</a> olà ´arnica¨
      </pre>
<%- include('../partials/footer'); %>
