<%- include('../partials/header'); %>

<pre class="®">
    <a href="/art">ArT</a>-ichaut
    auber<a href="/g">g</a>ine
    camomille
    ciboulette
    cousoude
    lavande
    mélisse
    pomme de terre
    rhubarbe
    romarin
    sauge officinale
    thym commun
    verveine
    prêle
    basilic
    coriandre
    menthe
    laurier sauce
    aïl
    achillée 1000 feuilles
    soucis
    persil
    hysope
    figuier
    vigne verte
    pêcher de vigne
    néflier
    cassis
    poirier
    pommier
    prunus
    sureau noir

    Tenir ici g tigré`
    si <a href="/nez">nez</a> 10 nidifuges
    c riz-ïnné c figures
    briefing chut s`é-cri-t-e
    ici tigres ci-gisenT
  </pre>
<%- include('../partials/footer'); %>
