<%- include('../partials/header'); %>
<pre class="®">
  L`avoir à lavomatic.
  Dur ... durée du truc.
  <a href="/tram">Tram</a>, <a href="/tram">tram</a>. <a href="/tram">Tram</a>.
  Trame mouline rame,
  admet r, arme t tréma.
  La <a href="/machine">machine</a> à thé
  des chaines hd, émule la saison`
</pre>
<%- include('../partials/footer'); %>
