<%- include('../partials/header'); %>
<pre>
    s
   ï
  a A
 n
" La <a href="/cravate">crAvate</a> douloureuse
que tu portes et qui t’orne,
ô civilisé,
ôte-la si
tu veux bien respirer. "

                - Apollinaire

Y a de l'électricité dans la diode.
Dans la grande presse à volant,
l'axe barge lia Y à l'Alco <sup>( -olo- )</sup> fribas cool pas cool.
Nasier inséra faiblarde,
pardon,
l'ïle à cet endroit là <sup>')(</sup>
</pre>
<%- include('../partials/footer'); %>
