<%- include('../partials/header'); %>
<pre class="®">
  b. a.-ba
  <a href="/bas">bas</a> à <a href="/o">o</a> <sup>-éo</sup>
  béa m
  <a href="/os">os</a> à moelle
</pre>
<%- include('../partials/footer'); %>
