<%- include('../partials/header'); %>

<pre class="®">
    Préambule in ...
    Calfaté d'en<a href="/jeu">jeu</a>x barils,
    <a href="/matelas">matelas</a> nu d'équilibres !
    Ou est où ou, où est ou.
    S’asseoir par terre !
    Le chat, singe bleu,
    n'a rien voulu dire,
    et n'a rien dit.
    Secret bonheur de celui qui sait
    qu'alors que les gens se construisent
    des mondes, il en existe déjà un.
    Babouin sent suinter le fantôme
    qui d'équilibre ne trouve ni air,
    ni haine et plus aucun étage.
    Il n'est pas l'ami
    et fantôme ne veux plus parler.
    Râler le <a href="/omerta">secret</a> ? Pour quoi dire ?
    Babouin n'est pas un ami.
    n et r se bousculent dans l'étage...
    Babouin le sait bien, prétexte ne vaut rien.
    Râler, dire, n’empêcheront pas l'étage.
    L'espoir est son couloir et dans la cage : l'escalier.
    n et r sont de vrai amis.
    Fantôme fini par bien aimer Babouin.
    Mais Babouin n'est pas un ami.
    Babouin sait bien n et r
    qui dans suite sont les fantômes.
    L:ˆaide arriva là.
  </pre>
<%- include('../partials/footer'); %>
