<%- include('../partials/header'); %>

<pre>
        52 hertz est le nom donné à une baleine
        Cantatrice errante, sur une corde sensiblement vibrante.
        Bigrement, déraisonnablement, éhontément.
        Nul <a href="/nez">nez</a> ! Polygones d'accords, pavés d'architectures
        amassées à l'angle bermude.
        Cercueil déni. Sine die prudent.
        matière métier
        tramer si re
        as ermite à estimer
        Moi je chuchote s'ccshut, un refrain qui me plait
      </pre>
<%- include('../partials/footer'); %>
