<%- include('../partials/header'); %>

<pre class="®">
                <sub>( you you <sup>( you</sup> )</sub>
        God bless you&thinsp;<sub>)</sub>
        Disait ma mamie.
        In ici c de bric
        le broc si cool
        d'as brocoli'.
        Qui ouï ?
        Te tomato mot <a href="/tao">tao</a>.
        Mode l'ail lia e !
        Y'a bariolage diagonale.
        À lire rayée, là étale,
        l`ambiguïté´ dico qui
        ici se modèle !?
    </pre>
<%- include('../partials/footer'); %>
