<%- include('../partials/header'); %>

<pre>
    G diacritée
    la <a href="/place">place</a> le citron la bicyclette
    l'inventeur <sup>( merci Philippe )</sup>
    de la cédille est certain monsieur ---ç--
  </pre>
<%- include('../partials/footer'); %>
