<%- include('../partials/header'); %>
<pre class="®">
    Boa <sup>st <sup>eX</sup></sup>
    <sub>in</sub> <a href="/">index</a>
    <sub>à</sub> <a href="/tuba">tuba</a>
    <sub><a href="/os">os</a></sub> du à

</pre>
<%- include('../partials/footer'); %>
