<%- include('../partials/header'); %>

<pre class="®">
        Dédoublonner un chat ?
        <a href="/ui">Ui</a> <a href="/ui">ui</a> y a une licorne dans la loupe.
        La contremar<a href="/que">que</a> siamoise remonte
        jusqu’au cœur étranglé d'un dragon. <sup>( hey !)</sup>
        Tête triangle isocèle fée la forme socle
        d'un carré roue rotule loquée déjanté(e).
        Brouillage, gribouille l`horreur
        de l'honoré rôle noir.
        Motif fée moitié flou,
        ado hué,
        aléa d'e.
        Athée, ouf c’est fou.
        Sir ho<a href="/que">que</a>t oeuf g ?
        Habile pour u ou e !
      </pre>
<%- include('../partials/footer'); %>
