<%- include('../partials/header'); %>



<pre class="®">
                c <sup>(céleste, <a href="/cymbale">cymbale</a>)</sup>
                    ou [k] <sup>(car, court)</sup>.

                Arc-bouté sur l'inextricable royaume,
                Cuba l'ubac acculé ?
                Geek codex vagabond reste réel.
                Invention réalité ? Réaliser, noter : l

                [-:´]
            </pre>
<%- include('../partials/footer'); %>
