<%- include('../partials/header'); %>
<pre class="®">
  Classées sans système ni méthode,
  dans l’<a href="/ordre">ordre</a> où elles se sont offertes à l’<a href="/esprit">esprit</a> de l’<a href="/inventeur">inventeur</a>.
  Habileté <a href="/psy">psy</a> sauve l'<a href="/alphabet">alphabet</a> catastrophe.
  Saveur va arasé l'u réservé rare.
  Ré, <a href="/réa">réa</a> serveur. Re aérer `ar
</pre>
<%- include('../partials/footer'); %>
