<%- include('../partials/header'); %>
<pre class="®">
  " chemise portefeuille à rabats de maroquin <a href="/grenat">grenat</a> :

    51 charmantes figures à mi-page d'animaux et de bêtes fantastiques :

      aigle, <a href="/pélican">pélican</a>, phénix, colombe, rossignol,
      <a href="/hirondelle">hirondelle</a>, lion, singe, loup, salamandre, licorne,
      sirène, griffon, hydre, panthère, éléphant, <a href="/abeille">abeille</a>, taupe, castor,
      hérisson, <a href="/baleine">baleine</a>, vipère, serpents, etc. "

  Ténébreuse buée, forcement.
  15 lynx nivau x
  bégaie t-`´ˆt'il

</pre>
<%- include('../partials/footer'); %>
