<%- include('../partials/header'); %>
<pre >
  <a href="/liban">Liban</a>
  bilan <a href="/raison">raison</a>
  La sériciculture est l'élevage du ver à <a href="/soie">soie</a>, qui est lui-même la chenille du papillon Bombyx mori. Elle consiste en l'<a href="/ensemble">ensemble</a> des opérations de culture du mûrier, d'élevage du ver à soie pour l'obtention du cocon, de dévidage du cocon et de <a href="/filature">filature</a> de la <a href="/soie">soie</a>. L'élevage s'effectue à partir des œufs du papillon, appelés selon l'usage « graines ».
</pre>
<%- include('../partials/footer'); %>
