<%- include('../partials/header'); %>

<pre>
    <!-- miel : reste hébétées -->
    si <a href="/bariolage">bariolage</a> fou
    crée le crime hier merci
    rboert gbraalith c cheri
    c miré é foule crie m
    m céleri
    rimé sec
    m c bibi
  </pre>
<%- include('../partials/footer'); %>
