<%- include('../partials/header'); %>
<pre class="®">
    <a href="/sic">si c</a>hat,
    <a href="/c">c</a>'est choux,
    sous¸
    c'est ça,
    <a href="/si">si</a> x, <a href="/c">c</a> t
</pre>
<%- include('../partials/footer'); %>
