<%- include('../partials/header'); %>
<pre class="®">
    <a href="/sic">si</a> chat
    <a href="/c">c</a> chou
    <sup>sous</sup><sub>c</sub> ça
        <sup><a href="/si">si</a></sup> ç <sub>t</sub>
</pre>
<%- include('../partials/footer'); %>
