<%- include('../partials/header'); %>
<pre class="®">
  Si, s'y et ci.
  Mais si si, c pas s'y, ni ci,
  ne pas <a href="/confondre">confondre</a> <a href="/sac">sac</a> et ask.
  Admettre fi et k.
  etc.
</pre>
<%- include('../partials/footer'); %>
