<%- include('../partials/header'); %>
<pre>
    Amère parabole <sup>( cruelle )</sup>
    d'un <a href="/jeu">jeu</a> à arrière-goûts.
        Cultiver
    l'ambiguïté du repère ! : l'<a href="/amer">amer</a> fixé,
  retrouver là
  : (  raffinerie - bleu - pétrole - o -
  ... plein des strideurs étranges, silences tranversés<sup>( sic )</sup> (dot dot dot)
  détachés comme une sorte d'incan<sup>( car )</sup>ta<sup>( na )</sup>tion )
  ... l'être <sup>( cigogne )</sup> gros(se), comme une femme de son couple ennui,
  et dégueuler son R.
  Sublimation : eau et gaz à tous...
  Solide(s) <sup>( idole(s) )</sup>
</pre>
<%- include('../partials/footer'); %>
