<%- include('../partials/header'); %>

<pre>
    G diacritée
    <a href="/la">la</a> <a href="/place">place</a> le citron <a href="/la">la</a> bicyclette
    l'inventeur <sup>( merci Philippe )</sup>
    de <a href="/la">la</a> cédille est certain monsieur ---ç--
  </pre>
<%- include('../partials/footer'); %>
