<%- include('../partials/header'); %>
  <pre class="®">
    il est chi près
    che clocher chi
    près de chez <a href="/nou">nou</a>
    érudit bof bof
    c z chensé
  </pre>
<%- include('../partials/footer', {links}); %>
