<%- include('../partials/header'); %>
<pre>
  " de tout temps négligé ou méconnu.
  Par-tout, chez le vrai sage, "
  <a href="/tournevis">Tournevis</a> malencontreusement sculpté <a href="/acajou">acajou</a>.
  Haut <sup>( les )</sup> lieu des métals concaves.
  Là, sous-tend g, la horde des coccinelles jumelles.
  ho évadés ave
  dé <a href="/vase">vase</a>s (dosée l<sup>ˊo` )</sup>
  riez
</pre>
<%- include('../partials/footer'); %>
