<%- include('../partials/header'); %>
<pre class="®">
  <sup>La nef à athée,
    haut-lieu du
      métal concave,
        est ici refuge
      feutré à étuve
    du <a href="/je">je</a> futur.</sup>
  Sous-tend`g
    est cachée
      la horde des
    coccinelles
      jumelles.
  <sub>Le Tas hamac
    crée clé´.
  R récré c
    <a href="/ruche">ruche</a> remède.</sub>
</pre>
<%- include('../partials/footer'); %>
