<%- include('../partials/header'); %>

<pre class="®">
    Fabulous <sup>( c'est là, <a href="/la">la</a> factory )</sup>
     d'-Andy War(-i-)hol
       à`-WALÉ
         combinatoire abstrait
      tarabiscotant l`r,
        h lˊ<a href="/anomalie">anomalie</a> <a href="/pop">pop</a>
                       <a href="/pop">pop</a> !
                     <a href="/pop">pop</a> !
</pre>
<%- include('../partials/footer'); %>
