<%- include('../partials/header'); %>


<pre>
        D'
        i.e. ->
        Emprunt <sup>( prêter )</sup> de l’anglais i.e.
        lui-même du <a href="/la">la</a>tin id est <sup>( « c’est » )</sup>
        c'est à dire : aïe i
             --> on dit qu'il n'est pas un bon navigateur.
        Magellan en prendrait <a href="/la">la</a> tangeante.
        Fantasmer <sup>( <a href="/simple">simple</a> convention ¸,)</sup>
          de de de géométriques attractions
        Gommer le tout.
        Baguette magique !
        D'analyses sauvages, trouver !
                               une cause perdue :
                            d'Enigma, comprendre <a href="/la">la</a> suite.
                                  elle est incluse
        dans le cadre de votre offre de services.
        <a href="/la">la</a> messe est dite !
        On n'entend plus siffler le train.
        Timide véhicule ...
        Degré rotule, canal, grue, ovni, microphone, formule, p<a href="/art">art</a>i(e)-pris...
        S'en sortir, juste ? ou juste s'en sortir ?
        <a href="/la">la</a> crasse du typan va sans dire.
        Jivaro l'orchestre !
        Bagne d'élégant
        Acte manqué j
        <a href="/la">la</a>s, he<a href="/la">la</a>s <sup>( cécidie )</sup> c'est <a href="/la">la</a> vie <sup>( le q )</sup>
        pinceau tactique, « j'ai lu tout les livres »,
        cité-jardin <sup>( oui un zébre ! )</sup>
        je encourage
        en parler à z <sup>( du grand ördre )</sup>
        J'emprunte mes mots.
        les dispose comme <a href="/ci">ci</a>, comme ça
                                     dot !
      </pre>
<%- include('../partials/footer'); %>
