<%- include('../partials/header'); %>

<pre>
  Au fig. :

    1. Drôle et profond problème, ces <a href="/virtuose">virtuose</a>s qui, selon tous les musiciens,
    toutes les <a href="/oreille">oreille</a>s non asines, sont en somme des artistes, des metteurs
    en scène de musique muette, ...

                                Valéry, Correspondance[avec Gide],1906, p. 408.

    dodo 4689 bd
</pre>
<%- include('../partials/footer'); %>
