<%- include('../partials/header'); %>
<pre class="®">
  <a href="/Vache">Vache</a> sacr`e-éê '!?
  ce thé, est-ce t ?
  L'hypothèse hypothéque h,
  si cravate revêche
  c'est l'havresac <a href="/éthique">éthique</a> !
</pre>
<%- include('../partials/footer'); %>
