<%- include('../partials/header'); %>
<pre class="®">
    Si page d
    le cyclope siffle
    à la mesure dynamo,
    on magasin <a href="/cycle">cycle</a>.
    As Donald à marteau,
    Daisy down Town.
  </pre>
<%- include('../partials/footer'); %>
