<%- include('../partials/header'); %>


<pre>
                ce  <a href="/la">La</a> ? Celà sans <a href="/F">f</a>aux de  <a href="/la">la</a> passe belle qui n'en fini qu'à décade abordée....
              </pre>
<%- include('../partials/footer'); %>
