<%- include('../partials/header'); %>


<pre class="®">
                <a href="/do">do</a> <a href="/do">do</a> ré fa mi
                mi <a href="/do">do</a> ré <a href="/do">do</a> fa
              </pre>
<%- include('../partials/footer'); %>
