<%- include('../partials/header'); %>
<pre>
  <a href="/doliprane">doliprane</a>
  <a href="/girafe">girafe</a>
  scriptio continua
  <a href="/kiwi">kiwi</a>
</pre>
<%- include('../partials/footer'); %>
