<%- include('../partials/header'); %>

<pre class="®">
  Ci-trouille rouillée,
  iourte c clé, ou cuillère.
  <a href="/citron">Citron</a>, <a href="/illico">illico</a> <a href="/on">on</a>
  écoute dossier <a href="/luciole">luciole</a>
  ré-associé i ,à dure école.
</pre>
<%- include('../partials/footer'); %>
