<%- include('../partials/header'); %>
<pre class="®">
  Le mot « <a href="/musée">musée</a> »  <sub>(du latin
  Signifie au sens                             <small>museum</small>,
  le plus ancien,                              lui-même
  « 9 divinités » </sub>                       <sub>emprunté</sub>
                                           <sub>au grec</sub>
  Joystick de l'                  <sub><small>mouseîon</small>)</sub>
  ancienne cabine
  Kabyle libére
  ici la forme
  nouvelle d'un cœur
  lœtus <sup>(9)</sup>
  Bijoux ou
  M-êrcî X
</pre>
<%- include('../partials/footer', {links}); %>
