<%- include('../partials/header'); %>

<pre class="®">
        Rafiot n.
        De Porte à <a href="/place">Place</a>
        et de <a href="/place">Place</a> à Porte !
        Ouvrant un pont sur le toit d'un tunnel,
        terminus du féérique de mes rêves,
        dans le debris, flou,
        le fLuXuS deBriS ré-apparu !
                            ”III m v d .\. I , ..T ï ï dudu— ...
                      à ï... . B r ... w.: 1-.— . ... d I ï l i Un) v I ï \\ ï ï. .url L I Cl* - l
        '. x l '— -'ï* *~ ï v B . . I . \ I ï ll ï” I I I B r \FM
                      v a . v p. .4.. l I ..M . ï ï ï n a c Iii .'. SII' P Ô i ao'd .4.. .' ï t I \
                I.ï'3 ' ï a) I l \ o ï D n ï HN' A,“ ww. .. . , \ ï .m . I '
                    . s _. ï- . ï ï u ï un Q . , W . . I ï ï '-0 a Î ..I ï I .d ' a" .v I F n .fi,
          IQ. M I r .d'à . . ï "Il 1“ I ï pd., v d u.. q M d O
                : said the bot !
                    @ Perspective Dudu
                                Coup(e)le
                                      Flux
                                          Bis repetita.
                                          Bis. Doublon du rébus !
                                                                !
        _ . / * ˊ ¨ ` ' ~ - — rebuts d'enigmes faciles,
                                                  riant, le rébus chemine,
                                                  isole s.
                                        0, ... , 3 Soleil !
                                        Réservé, guéri,
                    dire l'astuce, toujours avant/après.
                    Paraphé ! Annoté,
                    ... mon code tricheur.
                    Aérer <sup>()hiatus (ex. il a été)</sup> (sans pause),
                    l'intérieur moindre, prononcé par des mots.
                    Écrire qu'entre se rencontrent les contre-enquêtes.
                      @rt sans soif
                      tra la'la la, râla la'la^
                    le ciné ment !
                    Joindre e...
      </pre>

<%- include('../partials/footer'); %>
