<%- include('../partials/header'); %>

<pre>
    <sup> <a href="/gaspacho">gaspacho</a></sup>
      the Scapegoat <sup>( M )</sup>al-armé
      prophétise si toi, Otis, <sup>( Re(a)d(d)ing )</sup>
      pré-Raphaél<sup>( ma )</sup>is(m)e
      notre g
  </pre>
<%- include('../partials/footer'); %>
