<%- include('../partials/header'); %>

<div id="scene">

  <pre>
            énigme. <sup>( ? !— , . -:ˊ)</sup>
            — On aura des mots,
            un code AITA des compagnies aériennes,
            des sous-répertoires éclectiques.
            Précautionneusement bredouiller : étrécir, réitéré, rétréci.
            Réécrit(re) <a href="/la">la</a> <a href="/lettre">lettre</a> gospel du guerrier ˊétrusque truqué
            T <sup>( rouge, rouge )</sup> : red  ? Hoquet <sup>( ! )</sup>
            Patauger l'<a href="/art">art</a> probité ...
            G
            --h-
                 t- l'é sens
                 nés du potager
                 p<a href="/art">art</a>agé : rend d.
          </pre>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
  <script src="/js/anagrammatic.js"> </script>
  <script src="/js/axe.js"></script>

  <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
  <script>
    setTimeout(function() {
      $('p, pre').removeClass('closed')
    }, 400)
  </script>


  </body>

  </html>
