<%- include('../partials/header'); %>
<pre class="®">
  énigme. <sup>( ? !— , . -:ˊ)</sup>
  — On aura des mots,
  un code AITA des compagnies aériennes,
  des sous-répertoires éclectiques.
  Précautionneusement <a href="/bredouiller">bredouiller</a> : étrécir, réitéré, rétréci.
  Réécrit(re) <a href="/la">la</a> <a href="/lettre">lettre</a> gospel du guerrier ˊétrusque truqué
  T <sup>( rouge, rouge )</sup> : red  ? Hoquet <sup>( ! )</sup>
  Patauger l'<a href="/art">art</a> probité ...
  G
  --h-
       t- l'é sens
       nés du <a href="/potager">potager</a>
       p<a href="/art">art</a>agé : rend d.
</pre>
<%- include('../partials/footer'); %>
