<%- include('../partials/header'); %>
<pre class="®">
  le potager vertical
  vision voisine
  l`<a href="/oseille">oseille</a> ou la groseille
  parcelle à <a href="/roue">roue</a> rotative
</pre>
<%- include('../partials/footer'); %>
