<%- include('../partials/header'); %>

<pre class="®">
    Si hope est la couverture d`Edward
    laine c´est loup avec un o en plus.
    Autre voix, tam-tam, réponse hâtive.
    Ou mouchoir à. Secret commerce des ficelles...
    Ouïr r roue, appeau-<a href="/wagon">wagon</a> rouge, <a href="/axe">axe</a> à pierre
    cadence aussitôt ce chafouin mondial.
    Piu¨ ioule ui ui u ou saoul plus puis à si ui.
  </pre>
<%- include('../partials/footer'); %>
