<%- include('../partials/header', {title}); %>
<pre class="®">
  ici <sup><a href="/c">c</a></sup>
  i <a href="/si">si</a> <sub><a href="/c">c</a></sub>
  <a href="/c">c</a> s
</pre>
<%- include('../partials/footer'); %>
