<%- include('../partials/header'); %>

<pre class="®">
      Nada
        one à
              P
                à S
          c l'onde comme une ronde
              dans là,
                    la
                verticale
              <a href="/alerte">alerte</a> là
            là copier le
          stop solo créole.
        Qui divague ?
      Iguane unique agité.
        z Kif ! té i, aqueduc : x, y, v, w, c.
      Alfaiate qui fù avalé.
        R'a'valer qu'on a con, à cité u
      uit : ùîT
        noeud du ç c duo zébu qui gît kiwy
          vu ?
        "dans le texte", c beaucoup en français !
  </pre>
<%- include('../partials/footer'); %>
