<%- include('../partials/header'); %>
<pre>
  devant l'astre l's va
  lu t'é-nue je suis <a href="/béa">béa</a>
  d'agile art letraset
  méninges remuent
  cédant l'
  idée désarticulée
  é jase râle lucide
  aï aï si n irréductible
  et discutable l'r ´
  l'issue ci-gît. Reste
  l'immeuble dans le regard.
</pre>
<%- include('../partials/footer'); %>
