<%- include('../partials/header'); %>
<pre class="®">
  indien
  vaut mieux
  que deux
  tu l'or à
        ce qu'on
       se dit Darwin <a href="/wagon">wagon</a>
  ventouse à
      faux mieux
  wagon luge c f
</pre>
<%- include('../partials/footer'); %>
