<%- include('../partials/header'); %>

<pre class="®">
    " ce bruit d'<a href="/os">os</a> et de bois heurté
       faisait songer à quelque <a href="/jeu">jeu</a>
                                 de marionnettes
                      dans le royaume des morts "
          J.E.

            Où
              la
            <a href="/librairie">librairie</a> <sup>( brillamment )</sup>
                hydratée <sup>( qui se ramifie d'antiques)</sup>
                    aide e
                    ou
                    glace l'r'
  </pre>
<%- include('../partials/footer'); %>
