<%- include('../partials/header'); %>

<pre class="®">
    " ce bruit d'<a href="/os">os</a> et de bois heurté
       faisait songer à quelque <a href="/je">je</a>u
                                 de marionnettes
                      dans le royaume des morts "
          J.E.

            Où
              la
            librairie <sup>( brillamment )</sup>
                hydratée <sup>( qui se ramifie d'antiques)</sup>
                    aide e
                    ou
                    glace l'r'
  </pre>
<%- include('../partials/footer'); %>
