<%- include('../partials/header'); %>

<pre class="®">
            A p<a href="/art">art</a>ir de là,
            anagrammer, paragrapher, les caractères ASCII ain<a href="/si">si</a>.
            <a href="/si">si</a>, ça, ni aï, ère caragrammer çà n'a :
            agraphera : i , y
            <a href="/reste">reste</a> L
            Merde ! !
            Lien bête.
            <a href="/si">si</a> py : nombre d'or,
            L <a href="/reste">reste</a>...
            <a href="/si">si</a>, <a href="/si">si</a>.
            et taire la p<a href="/art">art</a> de e : ¨ , ^
          </pre>
<%- include('../partials/footer'); %>
