<%- include('../partials/header'); %>


<div id="scene">
  <pre class="®">
            A p<a href="/art">art</a>ir de là,
            anagrammer, paragrapher, les caractères ASCII ain<a href="/si">si</a>.
            <a href="/si">si</a>, ça, ni aï, ère caragrammer çà n'a :
            agraphera : i , y
            <a href="/reste">reste</a> L
            Merde ! !
            Lien bête.
            <a href="/si">si</a> py : nombre d'or,
            L <a href="/reste">reste</a>...
            <a href="/si">si</a>, <a href="/si">si</a>.
            et taire la p<a href="/art">art</a> de e : ¨ , ^
          </pre>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
  <script src="/js/anagrammatic.js"> </script>
  <script src="/js/axe.js"></script>

  <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
  <script>
    setTimeout(function() {
      $('p, pre').removeClass('closed')
    }, 400)
  </script>


  </body>

  </html>
