<%- include('../partials/header'); %>

<pre class="®">
  De Occulta Philosophia libri tres ...
  Vélo, lavabo.
  <sup>(l')</sup>ipmrotnat compren<sup>(dre)</sup>ait
      ...une gravure en miroir d'ordre décalé :
  fen_tre_de_D_rer_ac_femme_nu ,
  en .jpg <sup>(n° 36101474 sur un site)<sup> (dans le sous <a href="/dossier">dossier</a> /14/83/557982/ )</sup> (sur http://
    @quelquechose/ )</sup>
  Pas mal !
  Mais plutôt celle là : Albrecht's Melencolia
  un corps collectif ?
  Rythme rituel et carré magique.
  Couleurs:

            #0000c0 => rgb(0, 0, 192) <sup>( Bleu = Medium Blue )</sup>
            #ff781e => rgb(255, 120, 30) <sup>( Orange-Bronze = Pumpkin ; )</sup>

                    ( et pour étain ?
                      quelle complémentaire ? )

            ... correspond au problème d’arithmétique suivant :

  Soit la série des n<sup>2</sup> = 16 premiers entiers ;
  on se propose de trouver toutes les combinaisons de ces 16 nombres
  pris n à n avec n = 4, dont la somme est constante et égale à

                      M<sub>n</sub> = n (n <sup>2</sup> + 1) / 2,

  c'est-à-dire égale à la constante magique du carré magique normal d’ordre n = 4.

  Si l’on peut encore résoudre manuellement ce problème,
  et trouver les 86 combinaisons en question,
  ce n’est plus possible pour n > 4 : on doit avoir recours à un logiciel ad hoc <sup>( fait pour ça )</sup>.

  D'une référence,
  découpler les couplets.
  Fil néant. Rires.
  Clins d'œil disjonctés !
  Reflecteur sûr !
  Concorde calfeutrée,
  l'accordéon <sup>( n°3 )</sup> cajoleur nous gouplille un tour.
  Fléchir est une gymnastique.
  Cogiter ça avec rigueur !
  Être peu, avec du plomb dans...
  et plier
  ... l'être et la peur (du) plafond <sup>( émotions )</sup>
  Fiche k,
  évasive...
  Influe gênant
  Contre <sup>( x )</sup>, la plume agit.
  Javel pour l'âme
  Mais, n <sup>n</sup> reste drastique,
  compulsive. Re.
  Ci-gît <sup>( _sous le texte ) </sup>
  un mot<sub> ( m ) <sup>( Zut <sup>s</sup> )</sup></sub>
  et 172 osselets,
  + ou moins
  ◯ <span>b</span> <sup>(c't) ?</sup>
</pre>
<%- include('../partials/footer'); %>
