<%- include('../partials/header'); %>
<div id="scene">
  <pre class="®">
            <a href="/ici">Ici</a> <a href="/ou">ou</a> <a href="/la">là</a>
            Luciole
            Lê't <sup>( t )</sup>re
            <a href="/terre">Terrê</a> <a href="/la">là</a>
            L'à taire Aï <sup>( àï )</sup>
          </pre>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
  <script src="/js/anagrammatic.js"> </script>
  <script src="/js/axe.js"></script>

  <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
  <script>
    setTimeout(function() {
      $('p, pre').removeClass('closed')
    }, 400)
  </script>


  </body>

  </html>
