<%- include('../partials/header'); %>
<div id="scene">
  <pre class="®">
            <a href="/ici">Ici</a> <a href="/ou">ou</a> <a href="/la">là</a>
            Luciole
            Lê't <sup>( t )</sup>re
            <a href="/terre">Terrê</a> <a href="/la">là</a>
            L'à taire Aï <sup>( àï )</sup>
          </pre>
  <%- include('../partials/footer'); %>
