<%- include('../partials/header'); %>
<pre>
  « (2) Cette machine parafinie et achevée,
          ... suit à la gauche une grande roue
          ... le <a href="/quotien">quotien</a> de la divistion ...
          ... , partie quelle compte ... »
  De ce fragment, contre-tour, pincer son rire sans

</pre>
<%- include('../partials/footer'); %>
