<%- include('../partials/header'); %>

<pre>
  D'
  i.e. ->
  Emprunt <sup>( prêter )</sup> de l’anglais i.e.
  lui-même du latin id est <sup>( « c’est » )</sup>
  c'est à dire : aïe i
       --> on dit qu'il n'est pas un bon navigateur.
  Magellan en prendrait la tangeante.
  Fantasmer <sup>( simple convention ¸,)</sup>
    de de de géométriques attractions
  Gommer le tout.
  Baguette magique !
  D'analyses sauvages, trouver !
                         une cause perdue :
                      d'Enigma, comprendre la suite.
                            elle est incluse
  dans le cadre de votre offre de services.
  La messe est dite !
  On n'entend plus siffler le train.
  <a href="/timide">Timide</a> véhicule ...
  Degré rotule, canal, grue, <a href="/ovni">ovni</a>, microphone, <a href="/formule">formule</a>, parti(e)-pris...
  S'en sortir, juste ? ou juste s'en sortir ?
  La crasse du typan va sans dire.
  Jivaro l'orchestre !
  Bagne d'élégant
  Acte manqué j
  Las, helas <sup>( cécidie )</sup> c'est la vie <sup>( le q )</sup>
  pinceau tactique, « j'ai lu tout les livres »,
  cité-jardin <sup>( oui un zébre ! )</sup>
  je encourage.
  en parler à z <sup>( du grand ördre )</sup>
  J'emprunte mes mots et et les dispose comme ci, comme ça dot !
</pre>
<%- include('../partials/footer'); %>
