<%- include('../partials/header', {title}); %>

<pre class="®">
    Sir William B !
      <a href="/je"/>Je</a>
        suis l'homme
         mort
          <sup>o</sup>de-la`
                terrible
            symétrie.
    Ai-<a href="/je"/>je</a> souri ? ... pour voir !
      <sub>d'azur à
            la <a href="/libellule">libellule</a> d'<a href="/or">or</a> ,
        l'ordre des odonates `  -¯ </sub>
  matelas muet
   des rumeurs mumures
    w fuyant
  z mobile.
    Humeur Déi !
<sup>Lama</sup> Māte là
  le <a href="/niveau">niveau</a> maçon,
              où l'œil
            composé façonne.

  </pre>
<%- include('../partials/footer'); %>
