<%- include('../partials/header'); %>

<pre class="®">
    Sir William B !
      <a href="/je"/>Je</a>
        suis l'homme
         mort
          <sup>o</sup>de-la`
                terrible
            symétrie.
    Ai-<a href="/je"/>je</a> souri ? ... pour voir !
      <sub>d'azur à
            la libellule d'or ,
        l'ordre des odonates `  -¯ </sub>
  matelas muet
   des rumeurs mumures
    w fuyant
  z mobile.
    Humeur Déi !
<sup>Lama</sup> Māte là
  le niveau maçon,
              où l'œil
            composé façonne.

  </pre>
<%- include('../partials/footer'); %>
