<%- include('../partials/header'); %>


<pre>
        Moi je dirais :
        Au moins dans cette église
        on peut maintenant voir le ciel.
        Où l'abîme remont(r)e g <sup>( le point t' ...)</sup>
        caser une mezzanine formidable
           vitrail de plus <sup>( d-- vu-- )</sup>
        montrant, à fébrile, qui nie nombre et magie,
        le grand pal-ais <sup>( -u )</sup> moderne
              des révolutions d'Avril <sup>( un monde truqué sublime <sub>( Victoria )</sub> )</sup>
                    boutade
                      du juge 'î:<a href="/image">image</a>,
      </pre>
<%- include('../partials/footer'); %>
