<%- include('../partials/header'); %>

<pre class="®">
    né <a href="/zoo">zoo</a>
    milieu
    du <a href="/visage">visage</a>
    à réa noé ou
    zèbre rare
    aligne sa
    <a href="/rayure">rayure</a> au
    <a href="/niveau">niveau</a> <a href="/iguane">iguane</a>
    à enrayage
    é <a href="/bermude">bermud`a</a>

  </pre>
<%- include('../partials/footer'); %>
