<%- include('../partials/header'); %>
<pre class="®">
  <a href="/neutre">Neutre</a> q, né tigré.
  Qui M. <a href="/quiproquo">quiproquo</a> ?
  Pou, puce,
  moustique,
  acarien ?
  Question pour g.
  Minutes terminus.
</pre>
<%- include('../partials/footer'); %>
