<%- include('../partials/header'); %>



<pre>
                    Semantic Dementia ? <sup>( ma petite nono )</sup>
                                À-c-CORPS DE LEWY
                    y a des maladies rares <sup>( encore ! )</sup>
                               on leur donne des noms poètiques
                              À bas tous les labos ! <sup>( à bon ? )</sup>
                              aba-jou<sup>( r)</sup>es Samouraï des oiseaux amour(s)
                    cl<a href="/art">art</a>é modulatrice
                             si j'ai bien compris ? <sup>( en montant <sup>( belle balad(é)e )</sup> - descendant <sup>( Où sont ils enneigé ))</sup></sup>
                    déboguâ mécanique sociale
                                 sûr !! <sup>( imi ` ẍ ´ ? )</sup> w'
                  </pre>
<%- include('../partials/footer'); %>
