<%- include('../partials/header'); %>
<pre class="®">
    <sub><a href="/out">out</a></sub>   <sup>bêtaˆ</sup>
      <a href="/outil">outil</a> à
          au  <sup><a href="/bulle">bulle</a></sup>
      niveau <sup>ù</sup>
          <a href="/tao">tao</a>
             <sup><a href="/on">on</a> lave</sup>
</pre>
<%- include('../partials/footer'); %>
