<%- include('../partials/header'); %>

<pre>
    Du hasard,
    on conserve là,
    tournure l'alambique.
    Cas de figure :
    Danser jusqu'à plus soif (entendu à la <a href="/radio">radio</a>)
    ... trop d'alcool dans les grandes écoles ?
    Relent ph pas neutre,
    comme l'hareng dans le ca(s)que ?
  </pre>
<%- include('../partials/footer'); %>
