<%- include('../partials/header'); %>

<pre class="®">
    Du hasard
      on conserve la
      tournure alambique.
      Cas de figure :
        Danser jusqu'à plus soif <sup>(entendu à la <a href="/radio">radio</a>)</sup>
        ... trop d'alcool dans les grandes écoles ?
      Relent ph pas neutre...
      Comme l`hareng dans le ca<sup>(-s)</sup>que ?
      cas
      que ... je code :
                                    dans la longue-vue
                                    un bateau à havane
                                    m´avale
  </pre>
<%- include('../partials/footer'); %>
