<%- include('../partials/header'); %>
<pre class="">
            <a href="/horde">horde</a> <a href="/do">do</a> ré
            ordre dorée <a href="/do">do</a>
            <a href="/chorale">chorale</a>
            <a href="/la">la</a> <a href="/roche">roche</a>
            <a href="/roche">roche</a> h
            châle <a href="/or">or</a>
            caler h
</pre>
<%- include('../partials/footer'); %>
