<%- include('../partials/header'); %>

<pre class="®">
    <sup><a href="/sic">sic</a></sup> Poèsie´
      pose e
        ou l`as
      rE <sup>lu a.</sup> s´é-cri U...
    Prier
      un peu l´<sup>os</sup> usé
    d´o pèse soi-
      même. Dès lors l`<a href="/or">or</a>
        lueur module le noème
      ourlé des poisses
          emmêlées.
  </pre>
<%- include('../partials/footer'); %>
