<%- include('../partials/header'); %>
<pre class="®">
  <a href="/tournevis">Tournevis</a>, l'outil
  d'aspect chanté, artefact
  malencontreusement d'éthane
  sculpté <a href="/acajou">acajou</a>

  échange à thé
</pre>
<%- include('../partials/footer'); %>
