<%- include('../partials/header'); %>
<pre>
  <a href="/tournevis">Tournevis</a>.
  Outil sculpté
  <a href="/acajou">acajou</a>.

  Made <a href="/in">in</a>
  La <a href="/havane">Havane</a>.

</pre>
<%- include('../partials/footer'); %>

<!--<pre class="®">
  <a href="/tournevis">Tournevis</a>.
  Outil
  d'aspect chanté.
  <a href="/art">Art</a>efact <a href="/acajou">acajou</a>.
  Made <a href="/in">in</a> La <a href="/havane">Havane</a>.
  Malencontreusement
  d'éthane sculpté,
  ce <a href="/truc">truc</a> déjà acquis,
  s l.´échange à gamin
  qui taf.
</pre><pre>
  Gong joue le thème
  Pérou perdu lu ondulé
  période nulle.
  <a href="/tournevis">Tournevis</a>.
  Outil sculpté
        <a href="/acajou">acajou</a>.
  Made <a href="/in">in</a> La <a href="/havane">Havane</a>.

</pre>-->
