<%- include('../partials/header'); %>
<pre>
            l'âne de -----ane <sup>( j't'm : ) )</sup>
            trompé d'apophtegmes divans
            C'est un complexe
                      d'éléphant <sup>( énormement <sup>( ça promet !) )</sup></sup>
                       <sub>" on-dit qu'avant de mourir ils oublient tout,
                              mais ce n'est pas vrai ! " <sup>( à-peu-près )</sup></sub>
                l'<a href="/axe">axe</a> p<a href="/art">art</a>agé du blue paradoxe vie <sup>( elle qui est comme une dent )</sup>
                 du métro porte m
                tempo d'r
                 emporté là
          </pre>
<%- include('../partials/footer'); %>
