<%- include('../partials/header'); %>
<pre>
  Map, Cloneable, Serializable ...langue parlé entre humains, je renonce à son
  utilisation et constate que HashTable et HashMap <b>sont</b> simplement des
  Maps.--[[Utilisateur:Souris Libre|Sou
  cf.http://jargonf.org/index.php?search=Hashtable&title=Sp%C3%A9cial%3ARecherche&go=Lire
  L'aune était le nom donné à un bâton servant d'outil de mesure.
  De là découle l'expression "à l'aune de" signifiant "à la mesure de" ou encore "en considération de".
  https://www.linternaute.fr/dictionnaire/fr/definition/a-l-aune-de/

  ρί,
  pi, pli
  pi, plier là, le nom <sup>( on, on )</sup> ◯ <span>b</span>re
  rené ou re re re-n'être ici ou là
</pre>
<%- include('../partials/footer'); %>
