<%- include('../partials/header'); %>

<pre class="®">
                e
        coupl  fl u
                    o
            danse bien
            appliquée
            où ce
            sage cinéaste
            place f dans <a href="/visage">visage</a>
            ce vœu
            taquin
            sucre r
                ou ò
            naquit

            Ou bien
            quinoa tue
        </pre>
<%- include('../partials/footer'); %>
