<%- include('../partials/header'); %>
<pre class="®">
  popliteal fossa
  atomise le verbe
  at hollow poplité
  si <a href="/aneth">aneth</a> sol gaz-oil
  anatomie village
  onde awale là où
  <a href="/zoé">zoé</a> refait bien
  du <a href="/béa">b. a.-ba</a> aséité
</pre>
<%- include('../partials/footer'); %>
