<%- include('../partials/header'); %>
<pre class="®">
  accrocher r
  rˊ <a href="/clocher">clocher</a>
  accroc c s
  poulpe instruit
  trinité c
</pre>
<%- include('../partials/footer', {links}); %>
