<%- include('../partials/header'); %>

<pre class="®">
            Solo en jaune
            entrée collant
            entrée chapeau
            sortie jaune
            sortie collant arrière
            chapeau solo
            entrée Anna
            cachée poteau
            montée corde
            sortie chapeau
            entrée animal robe rouge
            entrée chapeau
            robe rouge à quatre pattes
            entrée collant
            danse collant chapeau
            robe rouge debout
            entrée chapeau manteau rouge
            entrée jaune
            course avec collant
            collant maître de cérémonie
            ronde et trois petits tours
            manteau rouge <a href="/visage">visage</a> caché
            briques rose en pile
            badaboum !
            Seyante leçon de conduite
            tout en petites rayures.
            Pyjama paradeur !
            Caméléon, ici pieds nus, si dérayé,
            répéta bruyamment un murmure <a href="/cymbale">cymbale</a>,
            grimacant là, les grammes cumulés ˊ.
            Bobine immuable, ç sic
            Coudre, emmêlé là, <a href="/la">la</a> p
          </pre>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
<script src="/js/anagrammatic.js"> </script>
<script src="/js/axe.js"></script>

<script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
<script>
  setTimeout(function() {
    $('p, pre').removeClass('closed')
  }, 400)
</script>



</body>

</html>
