<%- include('../partials/header'); %>

<pre>
      - <i>Avez vous songé au triangle des bermudes ?</i>
      - Oui. C'est même <a href="/la">la</a> seule chose à <a href="/la">la</a>quelle j'ai pensé sur le
        moment. Je me suis dit : « Bon Dieu, je vais alimenter les statistiques. »
      - <i>Avez-vous connu d'autres expériences semb<a href="/la">la</a>bles ?</i>

    Fréquence <sup>( fée nue )<sup>( veinard !)</sup></sup> certes !
    D'un en<a href="/jeu">jeu</a> boulier,
    le <a href="/cortex">cortex</a> amusé, diluant l'oubli,
    soulève à contre-<a href="/fil">fil</a>, l'amorce violente, alvéolée,
    courbe et boudeuse, tressée, étanche...
    d'un avenir
    ...qu' qu'aucun ne saurait... féerique
    <!-- nicotine  :  -->
  </pre>
<%- include('../partials/footer'); %>
