<%- include('../partials/header'); %>
<pre class="®">
  Savoir raisonner.
  Jouer a` se tromper !
  La <a href="/règle">règle</a> capture le
  sort tempo, replace r.
  Être arpège coopté
  Clap, clap ! Jeter a é g
  avec rejet n. Je juge
  gêné le jeu géré là´.

</pre>
<%- include('../partials/footer'); %>
