<%- include('../partials/header'); %>
<div id="scene">
  <pre class="®">
            Oui oui, moi même.
            Non mais !
            Mais non ...
            À <a href="/la">la</a> bonne heure ! Oui, mais laquelle ?
            Placés l'un après, l'un avant !
            ... Mes mots ?
            <a href="/gospel">Gospel</a> : cette musique me reste dans <a href="/la">la</a> tête.
            3 lettres perdues ; ma ponctuation est déréglée.
            L`accent s´inverse, h, d, l¸ sont elles bien là ?
            Là, là oui, là ici.
            Quel sens alors ?
            Nom ou verbe, ailleurs, qu'on place
            l'un après, ou l'un avant l'autre.
            Ils ? Elles ?
            Épeler, écrire, orthographier, ensorceler,
            se relayer, expliquer bien, apprendre à épeler,
            reposer un peu, charme, sortilège, période,
            incantation, moment, tour, vertige, petite sieste !
            Nom ou verbe ? Ailleurs.
            Méta se réfléchie elle même.
            Ensemble, réfléchir l'ensemble d'un Léon bogue.
            Modulo reste.
            Rejouer l'équation ?
            Non mais ! Non mon texte n'est pas un vrai anagramme.
            Personne ne l'a cru.
            Chaque signe y possède son double ou presque.
            Schizophrénie d'un langage qui se libère
            sans surface, ni profondeur !
            Duplice en double révélé : état tracé,
            éc<a href="/art">art</a> d'âme qui mieux me meut,
            lancinant, sature mes pensées fausses.
            Ruptures. Triture. Rature.
            Elle est vraie, réfléchie, sérieuse !
            Médire bêtise.
            Hibou comme uhu,
            dépité, bouddha se vexe !
            Nul degré java.
            Judah chemine,
            prémédite une colle ;
            glue 3 !
                !'azulerjo
                     évinçât s
          </pre>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='https://unpkg.com/panzoom@8.7.3/dist/panzoom.min.js'></script>
  <script src="/js/anagrammatic.js"> </script>
  <script src="/js/axe.js"></script>

  <script src="https://unpkg.com/xregexp@4.4.1/xregexp-all.js"></script>
  <script>
    setTimeout(function() {
      $('p, pre').removeClass('closed')
    }, 400)
  </script>


  </body>

  </html>
