<%- include('../partials/header'); %>

<pre>
  Err-land <sup>( déchirure tipi )</sup>
  réduire l'a- <sup>( a <sup>( <a href="/axe">axe</a> )</sup> )</sup>xe
  pister la chose
  actrice elle ose <sup>( ´¯ēl )</sup>
  l'élan retard
</pre>
<%- include('../partials/footer'); %>
