<%- include('../partials/header'); %>
<pre>
  revoir à
  re <a href="/avoir">avoir</a>
  ravir éo
  voire ar
  arrive o
  varie <a href="/or">or</a>
  rêvai <a href="/or">or</a>
  i-voire ar
  <a href="/or">or</a> a ivres à rive <a href="/or">or</a>
  voire ar
  <a href="/or">or</a> e vraie
  via d´
  éo g
  oie va
  air ver
  pé si <a href="/on">on</a> va
</pre>
<%- include('../partials/footer'); %>
