<%- include('../partials/header'); %>

<pre class="®">
  ‘A Subtlety,
  or the Marvelous
  Sugar Baby’
          Kara
          Walker
  thermorégulateur
  tv <sup>( : l'absolu(e) ment' )</sup>
  <a href="/aléa">aléa</a> rare : w
  <a href="/roue">roue</a>, roulement,
  <a href="/roue">roue</a> l'ment,
  <a href="/roue">roue</a> l'ment
</pre>
<%- include('../partials/footer'); %>
