<%- include('../partials/header'); %>
<pre class="®">
  <a href="/ruse">ruse</a> <a href="/ici">ici</a>
  ruche
  c u <a href="/si">si</a>
  i <a href="/chou">chou</a> o
</pre>
<%- include('../partials/footer'); %>
