<%- include('../partials/header'); %>
<pre>
  Confrère concombre ?
  Sais tu ?
  La confrérie <sup>( blagueuse )</sup>
  de la tomate,
  renforcée du poivron rouge,
  de l'oignon poireau,
  de madame ail, <sup>( aï <sub>( aï ) )</sub></sup>
  et du <a href="/jeu">jeu</a>ne olive,
  dans un saladier,
  selon vos goûts,
  renforce `a,
  et situe t´
  si jˆ approuve
</pre>
<%- include('../partials/footer'); %>
