<%- include('../partials/header'); %>


<pre class="®">
                à-coups¸ sol <a href="/dodo">dodo</a>
                accoup sûr z'u- râle h
                c si <a href="/chou">chou</a> chat
                chat chez choc
                si chuchote c'est ça`
              </pre>
<%- include('../partials/footer'); %>
