<%- include('../partials/header'); %>

<pre class=" ®">
            <a href="/si">si</a>
            c <sup>( <a href="/si">si</a>c)</sup>
            <a href="/si">si</a><sup>(c)</sup>c  <a href="/si">si</a>
        </pre>
<%- include('../partials/footer'); %>
