<%- include('../partials/header'); %>
<pre>
  Type d’aiguille
  Type de pointe
  Pour travailler sur
  Tailles recommandées
  Standard/Universelle
  Pointe intermédiaire
  Tissus naturels.
  Tissus synthétiques.
  Chemise, robe.
  Costumes, toile, drap.
  Linge de table, manteau.
  Jersey
  Pointe ronde
  Jersey, Jersey fin.
  Lycra, Dorlastan.
  Microtex
  Pointe très fine
  Tissus très fins : soie, microfibre.
  Stretch
  Pointe boule
  Tricot et rideaux.
  Tricot grossier.
  Cuir
  Pointe <a href="/triangle">triangle</a> et cannelure
  Cuir et similicuir.
  Cuir épais.
  Jeans et tissus fermes
  Pointe fine chromée
  Plastique et toile cirée.
  Jeans, velours côtelé, denim.
  Bleus de travail, jeans épais.
  Pointe fine à gros chas pour surpiqures
  Piqûres sur tissu rembourré.
</pre>
<%- include('../partials/footer'); %>
