<%- include('../partials/header'); %>
<pre class="®">
  cuivre à ' air ivre,
  <a href="/moteur">moteur</a> imite la <a href="/rue">rue</a> courbée
  mot timide, lui 'à boudée
</pre>
<%- include('../partials/footer'); %>
