<%- include('../partials/header'); %>
<pre>
  Admire qui veut !
  T<a href="/rame">rame</a>, tram, t<a href="/rame">rame</a>.
  Arté, art de q v.
  percévérence
  perse
</pre>
<%- include('../partials/footer'); %>
