<%- include('../partials/header'); %>
<pre class="®">
  Anode à r agité
    <a href="/polux">Polux</a> m jouer o
  <a href="/jeu">jeu</a> tuba
    <sup>si`c</sup> lampe
    parlée
    décalée
  <a href="/code">code</a> complexe <a href="/si">si</a>
  ampère épingle à <a href="/ada">Ada</a> <a href="/bea">béa</a>







<!--espoirGlobe
   poésie
   soirée
    étagecylindre
    Iguane gourmand énumére

      koala bazooka a zoo habitude
  si chocolat flop
  Asie is yéti land

  Y´a pas bézef !

  Décibels aigus.
  fa théorique que ce z.
  ut en do, si bémol ivoire.
  Annoter sol aérien relie ré
  si mi sourdine à trompette.
  Cuivre laiton piston pavillon
  de facture instable.
  Tube à r encore.
  sí mi c l`ancien fil islandais.
  Poste. Timbre clair.
  Ami faxe mots-valises
  bug langage remanié wah-wah
  manière diagonale paresseuse


  hamac à homard
-->


</pre>
<%- include('../partials/footer'); %>
