<%- include('../partials/header'); %>
<pre class="®">
        L`asthme placé.
        Hoqueter :
        h : haleté - m .
        parfumé l's
        Athée parle à central p !
        S'étale l'halte-là le présent.
        Dans la vase communicante :
        un désastre s'écrit : méconnaissance !
        S`équilibre forme et <a href="/volume">volume</a>.
        L'inopinée capillarité dérègle le puit cartésien <sup>( sic )</sup>
        Là, gourde <a href="/moteur">moteur</a> d'ombres odeurs, broum <sub>( broum )</sub>

</pre>
<%- include('../partials/footer'); %>
