<%- include('../partials/header'); %>

<pre class="®">
  A. a B. bé C. sé D. dé E. e F. effe
  G. gé H. ache I. i J. gi K. ka L. elle
  M. emme N. enne O. o P. pé Q. ku R. erre
  S. esse T. té U. u V. vé W. doublevé X. iks
  Y. igrek Z. zed

  aphone éthique à larigot
  régulation sauve tympan'
  fax infinito
  k joint e ou veuf à aveugle
  wagon <a href="/lavabo">lavabo</a>
  d'ou bleu vé baladé
</pre>
<%- include('../partials/footer'); %>
